.map-container {
  height: 600px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  /* position: absolute; */
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}

.btn {
  margin-left: 12px;
  margin-bottom: 15px;
}

/* Marker & Pop Up Styling */
.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/* Marker & Pop Up Styling */
