@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    
  }
  
  main {
    flex: 1 0 auto;
  }

  /* Footer Styling */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerFont {
  font-size: small;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}



/*Custom Text Color While Active*/
.tabs .tab a:focus.active {
  color: #afb42b;

}

.page-footer{
  background-color:#272320;
  
}

.nav-content{
  margin-bottom: 7px; 
}