body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }

  /* Footer Styling */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footerFont {
  font-size: small;
  margin-top: 0;
}



/*Custom Text Color While Active*/
.tabs .tab a:focus.active {
  color: #afb42b;

}

.page-footer{
  background-color:#272320;
  
}

