.brand-logo{
    margin: 0 20px;
  }

.nav{
  background-color: #272320;
  
}

.navicon {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(1);
  filter: invert(1);
  margin-top: 15px;
  float: left;
  margin-right: 5px;
}

.buddy {
  color: white;
}
.charge {
  color: greenyellow;
}